/* svg {
    stroke: #000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
} */

#rim {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
}

.hour-hand {
    stroke-width: 12;
    stroke-linecap: round;
    stroke: black;
}

.hands-cover {
    stroke-width: 3;
    fill: #fff;
    stroke: black;
}

.second-tick {
    stroke-width: 3;
    stroke: black;
}

.hour-tick {
    stroke-width: 8;
    stroke: black;
}

.second-label {
    font-size: 12px;
    stroke: black;
}

.hour-label {
    font-size: 24px;
    stroke: black;
}

#clock-svg {
<<<<<<< HEAD
    /*position: fixed;*/
=======
    /* position: fixed; */
>>>>>>> 8f955f04b6cd2a2b1d319ce240c7c2c67c6a4a2a
    right: 0;
    top: 0;
}

.play {
    color: black;
}

.stop {
    color: black;
}

#autoplay-button {
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    width: 60px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
    border-radius: 50%; /* Make the button round */
    display: flex;
    align-items: center;
    justify-content: center;
}

#autoplay-button.play::before {
    content: "▶";
}

#autoplay-button.stop::before {
    content: "||";
}
