/* svg {
    stroke: #000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
} */

#rim {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
}

.hour-hand {
    stroke-width: 12;
    stroke-linecap: round;
    stroke: black;
}

.hands-cover {
    stroke-width: 3;
    fill: #fff;
    stroke: black;
}

.second-tick {
    stroke-width: 3;
    stroke: black;
}

.hour-tick {
    stroke-width: 8;
    stroke: black;
}

.second-label {
    font-size: 12px;
    stroke: black;
}

.hour-label {
    font-size: 24px;
    stroke: black;
    /* font-family: "Helvetica", Arial, sans-serif; */
}

#clock-svg {
    /*position: fixed;*/
    right: 0;
    top: 0;
}

#autoplay-button {
    width: 100px; /* 幅を200pxに設定 */
    height: 100px; /* 高さを50pxに設定 */
    border: 2px solid #f0f0f0;
    cursor: pointer;
}

#autoplay-button.play {
    background-image: url("../img/start.png"); /* 再生時の画像 */
    background-size: cover;
    background-repeat: no-repeat;
}

#autoplay-button.stop {
    background-image: url("../img/stop.png"); /* 停止時の画像 */
    background-size: cover;
    background-repeat: no-repeat;
}
#autoplay-button:active {
    transform: scale(0.95); /* クリック時に少し縮小 */
}
