/* 店名 */
#map text {
    fill: black; /* 文字色を白に指定 */
    font-family: "Arial"; /* フォントファミリーを指定 */
    font-size: 30px; /* フォントサイズを指定 */
    font-weight: bold; /* フォントの太さを指定 */
    background-color: rgba(0, 0, 0, 0.6); /* 背景色を指定 (透明度0.6の黒) */
}

/* 営業時間 */
#map text tspan:first-child {
    fill: black; /* 文字色を黄色に指定 */
    font-family: "Arial";
    font-size: 15px; /* フォントサイズを指定 */
    font-weight: normal; /* フォントの太さを指定 */
    background-color: rgba(0, 0, 0, 0.6); /* 背景色を指定 (透明度0.6の黒) */
}

/* 住所 */
#map text tspan:last-child {
    fill: black; /* 文字色をシアンに指定 */
    font-family: "Arial";
    font-size: 15px; /* フォントサイズを指定 */
    font-weight: normal; /* フォントの太さを指定 */
    background-color: rgba(0, 0, 0, 0.6); /* 背景色を指定 (透明度0.6の黒) */
}

#myRange {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#myRange .rs-path-color {
    background-color: transparent !important;
}

#myRange .rs-range-color {
    background-color: transparent;
}

#myRange .rs-handle {
    background-color: black;
    border-radius: 0;
}

/* ベーシックなスタイル */
li div {
    border-radius: 5px; /* 角を丸くする */
    padding: 10px; /* paddingを追加 */
    color: #000000; /* テキストの色を白に */
    font-weight: bold; /* フォントを太く */
    text-align: center; /* テキストを中央寄せ */
    background-size: 200% auto;
    transition: background-position 0.5s, color 0.5s;
}

.checkbox_container {
    display: flex; /* 要素を横並びに */
    align-items: center; /* 子要素を中央寄せに */
    cursor: pointer; /* カーソルをpointerに */
}

.checkbox {
    display: flex; /* クリックエリアを広げるため */
    align-items: right; /* 中央寄せ */
    justify-content: center; /* 中央寄せ */
    height: 20px; /* チェックボックスの高さ */
    width: 20px; /* チェックボックスの幅 */
    margin-right: 10px; /* テキストとの隙間 */
    border: 2px solid black; /* ボーダー */
    box-sizing: border-box; /* ボーダーを含めたサイズにする */
}

.checkbox.selected {
    border-color: black;
    /* 背景色を追加 */
    background-color: inherit;
}

.checkbox_container span {
    line-height: 20px; /* テキストの高さをチェックボックスと合わせる */
}

#infoText {
    position: absolute;
    right: 0;
    top: 50%; /* これは画面の中央に配置します。必要に応じて調整してください */
}

#container {
    display: flex;
}
#map,
#sliderContainer {
    display: inline-block;
}
