/* 店名 */
#map text {
    fill: black; /* 文字色を白に指定 */
    font-family: "Arial"; /* フォントファミリーを指定 */
    font-size: 30px; /* フォントサイズを指定 */
    font-weight: bold; /* フォントの太さを指定 */
    background-color: rgba(0, 0, 0, 0.6); /* 背景色を指定 (透明度0.6の黒) */
}

/* 営業時間 */
#map text tspan:first-child {
    fill: black; /* 文字色を黄色に指定 */
    font-family: "Arial";
    font-size: 15px; /* フォントサイズを指定 */
    font-weight: normal; /* フォントの太さを指定 */
    background-color: rgba(0, 0, 0, 0.6); /* 背景色を指定 (透明度0.6の黒) */
}

/* 住所 */
#map text tspan:last-child {
    fill: black; /* 文字色をシアンに指定 */
    font-family: "Arial";
    font-size: 15px; /* フォントサイズを指定 */
    font-weight: normal; /* フォントの太さを指定 */
    background-color: rgba(0, 0, 0, 0.6); /* 背景色を指定 (透明度0.6の黒) */
}

#myRange .rs-path-color {
    background-color: transparent !important;
}

#myRange .rs-range-color {
    background-color: transparent;
}

#myRange .rs-handle {
    background-color: black;
    border-radius: 0;
}
body {
    background-color: #f0f0f0; /* 背景色を薄い灰色に設定 */
}

/* ベーシックなスタイル */
li div {
    border-radius: 5px; /* 角を丸くする */
    padding: 10px; /* paddingを追加 */
    color: #000000; /* テキストの色を白に */
    font-weight: bold; /* フォントを太く */
    text-align: center; /* テキストを中央寄せ */
    background-size: 200% auto;
    transition: background-position 0.5s, color 0.5s;
}

.checkbox_container {
    display: flex; /* 要素を横並びに */
    align-items: center; /* 子要素を中央寄せに */
    margin-bottom: 10px; /* 下に隙間を追加 */
    margin-left: 10px;
    font-weight: bold;
}

.checkbox {
    display: flex; /* クリックエリアを広げるため */
    align-items: right; /* 中央寄せ */
    justify-content: center; /* 中央寄せ */
    height: 40px; /* チェックボックスの高さ */
    width: 40px; /* チェックボックスの幅 */
    margin-right: 10px; /* テキストとの隙間 */
    border: 2px solid black; /* ボーダー */
    box-sizing: border-box; /* ボーダーを含めたサイズにする */
    cursor: pointer; /* カーソルをpointerに */
}
.checkbox:active {
    transform: scale(0.95); /* クリック時に少し縮小 */
}
.checkbox.selected {
    border-color: black;
    /* 背景色を追加 */
    background-color: inherit;
}

.checkbox_container span {
    line-height: 40px; /* テキストの高さをチェックボックスと合わせる */
}

#container {
    display: flex;
}
#map,
#sliderContainer {
    display: inline-block;
}

#map {
    background-color: #f0f0f0;
    /* その他のスタイルはそのまま */
    display: inline-block;
}

#clock {
    display: flex;
    flex-direction: column; /* 子要素を縦方向に並べる */
    justify-content: space-between; /* 子要素間のスペースを均等に分配 */
    align-items: center; /* 子要素を中央寄せ */
    /* その他のスタイルはそのまま */
    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    overflow: auto;
}

#checkboxContainer {
    width: 100%; /* 幅を親要素の100%に設定 */
}

#clock-svg {
    background-image: url("../img/moon.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%; /* 角を丸くする */
}

#Time {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 30px;
    /* font-family: "Graduate", cursive; */
    font-family: Arial, sans-serif;
    font-size: 30px; /* フォントサイズを指定 */
    user-select: none;
}

#show-stations {
    color: #fff;
    font-weight: bold;
    background: #000;
    height: 46px;
    border-radius: 23px;
    padding: 15px 30px;
    cursor: pointer;
    user-select: none;
}
#show-stations:active {
    transform: scale(0.95); /* クリック時に少し縮小 */
}
#parameter {
    position: fixed; /* ページのスクロールに関係なく常に同じ位置に配置 */
    z-index: 1000; /* 他の要素より上に表示 */
    bottom: 0; /* 下端から0pxの位置に配置 */
    right: 20%;
    display: flex; /* フレックスボックスレイアウトを適用 */
    flex-direction: column; /* 子要素を縦方向に配置 */
    margin-bottom: 10px;
    margin-left: 10px;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background-color: gray; /* 背景色 */
    color: white; /* テキスト色 */
    padding: 8px; /* 内側の余白 */
    border-radius: 4px; /* 角の丸み */
    font-family: Arial, sans-serif; /* フォントファミリー */
    font-size: 14px; /* フォントサイズ */
    text-align: center; /* テキストの配置 */
    opacity: 0; /* 初期状態では非表示 */
    transition: opacity 0.3s; /* 表示時のアニメーション効果 */
    z-index: 1000; /* 他の要素より上に表示 */
}

.leaflet-pane {
    pointer-events: none;
}

.leaflet-pane svg {
    pointer-events: auto;
}

#graph {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.station-line {
    z-index: 10000000; /* 他の要素より上に表示 */
}
